<div class="roundtop settingscontainer span-19">

    <div class="form">
      <fieldset>
        <h3 class="fieldset-heading">Report</h3>


        <div class="processing alert alert-info">Processing... please wait</div>

        <%= render 'report_request' %>

        <%= render 'rids_list' %>

        <%= form_for(@report_request, remote: true, url: list_rids_report_request_path(@report_request), method: 'get', id: 'report_request_form_rid_list') do |f| %>

          <%= hidden_field_tag 'report_request[report_id]', @report_request_report_id %>

          <%= f.submit "Cancel" %>
        <% end %>
      </fieldset>
    </div>
</div>
