<%= generate_notice notice %>
<%= generate_error flash[:error] %>

<%= generate_list(@emix_units, EmixUnit, "Units",
                  [:unit_type_id, :units, :description],
                  new_emix_unit_path,
                  "Create Unit") %>