<%= generate_notice notice %>
<%= generate_error flash[:error] %>

<%= generate_errors @emix_unit, "prohibited this Unit from being saved:" %>

<%= generate_edit_columns @emix_unit, EmixUnit,
                             "New Unit",
                             [:unit_type_id, nil, nil],
                             "Create Unit"
%>

<%= link_to 'Back to Units', emix_units_path, class: 'btn btn-default' %>
