<%= generate_error flash[:error] %>
<%= generate_notice flash[:notice] %>

<%= generate_errors @group, "prohibited this Group from being saved:" %>

<%= generate_edit_table(@groups, @group,
    Group, "Groups", [:name, :description], method(:edit_group_path)) %>

<%= render 'membership' %>