@mixin respond-to($media) {
  @if $media == phone {
    @media (max-width: 480px) { @content; }
  }
  @else if $media == mobile {
    @media (max-width: $screen-sm-min) { @content; }
  }
  @else if $media == desktop {
    @media (min-width: $screen-sm-min + 1) { @content; }
  }
}
