.navigation {

  @include box-sizing(border-box);

  padding-bottom: 15px;
  position: fixed;

  top: 12px;
  left: 15px;

  width: 270px;

  min-height: 20px;
  @include respond-to(mobile) {
    left: -225px;
    width: 225px;
  }

  .menu-heading {

    margin-left: 5px;
    margin-right: 10px;

    border: 1px solid #DDD;
    background-color: #eee;

    h4 {

      margin: 10px 0 0px;
      padding: 10px 5px;
    }
  }

  ul {
    background: #F6F6F6;
    border-left: 1px solid rgba(#fff, 0.1);
    margin: 0 10px 10px 5px;
    padding: 0;

    border: 1px solid #DDD;

    li {
      margin-left: -1px;
      list-style-type: none;

      border-bottom: 1px solid #DDD;

      &:hover {
        background-color: white;
        box-shadow: 1px 0 0 0 #DDD inset;
      }
    }
  }

  a {
    display: block;
    padding: 5px 10px;

    &:hover {
      text-decoration: none;
    }

    &.active {
      box-shadow: 2px 0 0 0 #D26911 inset;
      font-weight: bold;
      background-color: white;
      color: black;
    }
  }
}

// Mobile nav toggle
.hamburger {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 10px;

  span {
    background: #ccc;
    display: block;
    height: 2px;
    margin: 3px 0;
    width: 25px;
  }
}

// Nav tabs
.nav-tabs {
  margin-bottom: 15px;
}

@include respond-to(mobile) {
  .sidebar-open .navigation {
    left: 0;
  }
}

div.logo a {
  padding-left: 5px !important;
}