// Remove border radius from all things
$border-radius-small: 0;
$border-radius-base: 0;
$border-radius-large: 0;

// Update colors
$brand-danger: #d2322d;
$brand-primary: #3276b1;
$brand-warning: #ed9c28;
$brand-info: #39b3d7;
$brand-success: #47a447;

// Inputs
$padding-base-vertical: 4px;
$padding-base-horizontal: 8px;
$padding-large-vertical: 6px;
$padding-large-horizontal: 10px;