// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about td
{
  border: 1px solid #ccc;
}

.about tbody tr:nth-child(2n) td, tbody tr.even td {
  background: none !important;
}