// Place all the styles related to the VENs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.vens_table th.vens_header_name
{
  width: 10em;
}

.vens_table th.vens_header_view_registration_id
{
  width: 12em;
}

.vens_table th.vens_header_account_id
{
  width: 6em;
}

.vens_table th.vens_header_status
{
  width: 4em;
}

.vens_table th.vens_header_edit
{
  width: 5em;
}

.vens_table th.vens_header_destroy
{
  width: 4em;
}

.vens_header_created_date_time
{
  width: 15em;
}

.vens_header_report_name_id
{
  width: 17em;
}